* { outline: none; }

/*
header, section, footer, aside, nav, article, form, input, figure, div, a, p, lh, em, ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dd, dt {
  margin: 0;
  padding: 0;
}
*/

body {
  background-color: #AD0000;
  color: white;
  font-family: helvetica, arial;
}

a {
  color: #FFF;
}

h1 { font-size: 20px; }
h2 { font-size: 2em; }
h2 a { text-decoration: none; }

.column input[type=text] {
  width: 500px;
}

#user-bar-greeting, #user-bar-action {
  display: block;
  float: right;
  margin-left: 15px;
}

.column {
  float: left;
  margin-right: 10px;
}

.post {
  background: #700;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px;
  margin: 10px 0 10px;
  width: 500px;
}

.post .user_name {
  float: left;
  font-size: 90%;
  font-weight: bold;
  margin: 2px 5px -2px 0;
}

.post>a, a.reply_link {
  clear: both;
  display: block;
  font-size: 80%;
  font-weight: bold;
  margin-left: 10px;
  width: 100%;
}

ul.users {
  list-style: none;
  padding: 0;
}

ul.users li {
  background: #700;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px;
  margin: 10px 0 10px;
  width: 500px;
}

ul.users li .user_name {
  float: left;
  font-size: 90%;
  font-weight: bold;
  margin: 2px 5px -2px 0;
}

ul.users li>a {
  clear: both;
  display: block;
  font-size: 80%;
  font-weight: bold;
  margin-left: 10px;
  width: 100%;
}

.reply {
  margin-left: 20px;
  width: 480px;
}

.icon {
  float: right;
  text-align: right;
  min-width: 2.5em;
}

.icon .cheered {
  color: yellow;
}

.icon img {
  border: 0;
  height: 1em;
  width: 1em;
}

.search {
  padding: 10px;
}

.search input {
  width: 250px;
}

strong {
  font-size: 1.25em;
}
