* { outline: none; }

/*
header, section, footer, aside, nav, article, form, input, figure, div, a, p, lh, em, ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dd, dt {
  margin: 0;
  padding: 0;
}
*/

body {
  background-color: #AD0000;
  color: white;
  font-family: helvetica, arial;
}

a {
  color: #FFF;
}

h1 { font-size: 20px; }
h2 { font-size: 26px; }
h2 a { text-decoration: none; }

.column input[type=text] {
  width: 500px;
}

#user-bar-greeting, #user-bar-action {
  display: block;
  float: right;
  margin-left: 15px;
}

.column {
  float: left;
}

.post {
  background: #700;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0 10px;
  width: 500px;
}

.post .user {
  float: left;
  font-size: 90%;
  font-weight: bold;
  margin: 2px 5px -2px 0;
}

.post>a, a.reply_link {
  clear: both;
  display: block;
  font-size: 80%;
  font-weight: bold;
  margin-left: 10px;
  width: 100%;
}

a#add_post {
  display: block;
}

.reply {
  margin-left: 20px;
  width: 480px;
}

.cheer {
  text-align: center;
  margin: 5px 5px 0 0;
  float: right;
}

.cheer .cheered {
  color: yellow;
}

.cheer img {
  border: 0;
  height: 1em;
  width: 1em;
}

.search {
  padding: 10px;
}

.search input {
  width: 250px;
}
